/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* COMMON STYLES */

.font-press {
  --font-family: 'PressStart2P-Regular';
  --font-size: 14px;

  font-family:  var(--font-family, monospace);
  font-size: var(--font-size, 14px);
  
  font-weight: var(--font-weight, 400);
}

.font-inter {
  --font-size: 14px;
  font-size: var(--font-size, 14px);
  /* font-weight: var(--font-weight, 400); */
}

.links {

}

/* BODY */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: var(--background-img);    
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight, 400);
}

/* HEADER */

.header {
  display: grid;
  justify-content: center;
}

.header-logo {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;

  inline-size: clamp(375px, 20vw + 200px, 696px);
  block-size: clamp(327px, 20vw + 50px, 368px);
  margin: 100px 0;

  background: var(--main-bg);
  border: 2px solid var(--border-color);
}

.header-title {
  --font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

  justify-self: center;
  align-self: end;
  font-size: var(--font-size, 49px);
  line-height: 100%;
  text-transform: uppercase;
}

.header-text {
  --font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  justify-self: center;
  align-self: flex-start;
  font-size: var(--font-size, 49px);
  line-height: 100%;
  text-transform: uppercase;
}

/* MAIN */

.main {
  display: grid;
  justify-items: center;
  gap: 52px;
}

.post {
  inline-size: clamp(375px, 54.8%, 1440px); 
  background-color: var(--main-bg);
}

.post:last-child {
  margin-block-end: 52px;
}

.post-card {
  position: relative;
  display: grid;
  /* inline-size: clamp(375px, 54.8%, 1440px); */
  border: 2px solid var(--border-color);
}

.post-title {
  font-family: 'Inter-Variable';
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  padding: 4px 10px 6px 10px;
}

.watermark {
  position: absolute;
  inset-block-start: 55px;
  inset-inline-end: 11px;
  opacity: 0.5;
  color: #000;
  text-shadow: 0 0 1px var(--text-stroke-color);
  mix-blend-mode: hard-light;

  /* font-family: 'PressStart2P-Regular'; */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 14px;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-content {
  display: grid;
  /* grid-template-rows: 1fr 1fr min-content; */
  padding: 25px;
  gap: 25px;
}

.post-text {
  font-family: 'Inter-Variable';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card__like-buttons {
  display: grid;
  justify-content: end;
  gap: 12px;
  padding: 0 25px 25px;
  align-content: center;
  grid-auto-flow: column;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  text-align: center;
  border: 2px solid var(--border-color);
}

.card__like-button:focus-visible {
  border: none;
  outline: 2px solid var(--border-color);
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

/* buttons
.button__text {
  position: relative;
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  mix-blend-mode: difference;
  z-index: 1;
} */

.heart-icon {
  block-size: 1.5rem;
}

.like-icon .contour{
  fill: var(--countor-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body{
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body{
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body{
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .core{
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .sparks{
  opacity: 0;
}

.like-icon.is-liked .sparks{
  animation: change-opacity 0.3s 0.3s ease-in;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

/* IMGS STYLE */

.clean-list {
  filter: grayscale(0.7) contrast(0.9);
}

.css {
  filter: saturate(4.5);
}

.desigions {
  filter: hue-rotate(29deg);
}

.care {
  filter: invert(1) contrast(0.5);
}

.support {
  filter: sepia(0.9);
}

.depression {
  filter: blur(11px);
}

.here {
  filter: hue-rotate(88deg) brightness(1.2) contrast(1.7) opacity(0.8) blur(1px);
}

/* DIALOG */

.save-content {
  display: flex;
  justify-content: center;
  margin-block-end: var(--margin-save-button, 100px);
  background-color: var(--main-bg);
}

/* .buttons {
  background-color: var(--main-bg);
  border: 2px solid var(--main-color);
} */

.button {
  --font-family: 'PressStart2P-Regular';
  --font-size: 14px;

  position: relative;
  padding: 15px 20.5px; 

  font-family: var(--font-family, 'PressStart2P-Regular');
  font-size: var(--font-size);
  line-height: 90%;

  /* color: var(--button-color);
  background-color: var(--main-bg); */
  color: #fff;
  background-color: #fff;

  border: 2px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
}

.save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ok-button {
  inline-size: 257px;
  block-size: 38px;
  text-transform: uppercase;
}

.button svg {
  position: relative;
  block-size: 1.5rem;
  mix-blend-mode: difference;
  z-index: 1;
  /* color: var(--button-color); */
}

.button:before {
  content: '';
  position: absolute;
  inset: 0;
  /* background-color: var(--main-color); */
  background-color: #000;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.button:hover:before {
  translate: 0;
}

.button__text {
  position: relative;
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.814);
} 

dialog[open] {
  display: grid;
  justify-items: center;
  inline-size: 341px;
  block-size: 191px;
}

.dialog-content {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  margin-inline-start: 22px;
  margin-block-end: 30px;
  gap: 20px;
}

.content-text {
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

@media (width >= 375px) {
  .save-button {
    flex-direction: row;
  }

  .ok-button {
    inline-size: 293px;
  }

  .dialog-content {
    margin-inline-start: 11px;
  }

  dialog[open] {
    inline-size: 353px;
    min-block-size: 191px;
  }
}