/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* COMMON STYLES */

.font-press {
  font-family: var(--font-family-press, "PressStart2P"), fantasy;
  font-size: var(--font-size-small, 14px);
}

.page__section {
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  margin: auto;

  background-color: var(--main-bg, #fff); 
}

.links {
  transition: border 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
}

.links:focus-visible {
  border: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
}

/* BODY */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;

  background: var(--background-img);
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--font-family-inter, "Inter-Variable"), sans-serif;
  font-size: var(--font-size-normal, 18px);
  font-weight: var(--font-weight-normal, 400);
  font-variation-settings: "wght" var(--font-weight-normal, 400);
}

/* HEADER */

.header {
  display: grid;
  gap: 20px;

  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  margin-block-end: 100px;

  border: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
}

.header__title {
  font-size: var(
    --font-size-header,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.header__text {
  text-align: center;
  font-size: var(--font-size-header-text, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
  line-height: 100%;
  text-transform: uppercase;
}

/* MAIN */

.card {
  position: relative;
  display: grid;
  margin-block-end: 52px;
  border: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
}

.card__title {
  padding: 6px 10px;

  font-size: var(--font-size-normal);
  font-variation-settings: "wght" var(--font-weight-bold, 700);
  
  line-height: 100%;
  border-block-end: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
}

.card__watermark {
  position: absolute;
  inset-block-start: 55px;
  inset-inline-end: 11px;
  opacity: 0.5;
  color: var(--main-color, #000);
  text-shadow: 0 0 1px var(--text-stroke-color, #fff);
  mix-blend-mode: hard-light;

  line-height: 0.875rem;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color, #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    /* text-stroke: 1px var(--text-stroke-color); */
  }
}

.img {
  display: block;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  display: grid;
  padding: 25px;
  gap: 25px;
  border-block-start: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
}

.card__content-text {
  line-height: 21px;
}

.card__like-buttons {
  display: grid;
  justify-content: end;
  gap: 6px;
  padding: 0 25px 25px;
  grid-auto-flow: column;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  align-items: flex-end;
  padding: 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
}

/* IMGS STYLE */

.filter__brightness {
  filter: brightness(0.9);
}

.filter__grayscale {
  filter: grayscale(0.7);
}

.filter__saturate {
  filter: saturate(4.5);
}

.filter__blur {
  filter: blur(0.7px);
}

.filter__sepia {
  filter: sepia(1);
}

.filter__invert {
  filter: invert(1) sepia(0.6);
}

.filter__hue-rotate {
  filter: hue-rotate(180deg);
}

.filter__multiple {
  filter: contrast(0.7) opacity(0.8) grayscale(0.5);
}

/* DIALOG */

.save-content {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;

  line-height: 90%;

  color: var(--button-color, #fff);
  background-color: var(--main-bg, #fff);

  border: var(--border, var(--border-size, 2px) solid var(--border-color, #000));
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px 15px 19px;
  margin: 0 auto;
}

.ok-button {
  display: grid;
  align-items: center;
  inline-size: 257px;
  block-size: 38px;
  text-transform: uppercase;
}

.button .save-svg {
  position: relative;
  block-size: 1.313rem;
  mix-blend-mode: difference;
  z-index: 1;
}

.button:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.button:hover:before {
  translate: 0;
}

.button__text {
  position: relative;
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

dialog[open] {
  display: grid;
  justify-items: center;
  inline-size: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  padding: 28px 32.5px 30.5px 28px;
  /* block-size: clamp(11.938rem, 11.653rem + 0.68vw, 12.063rem); */
}

.dialog-content {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-block-end: 30px;
  gap: 20px;
}

.dialog-content .save-svg {
  block-size: 2.438rem;
  flex-shrink: 0;
}
/* 
.save-svg {
  display: none;
} */

.content-text {
  line-height: 150%;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .card__title {
    line-height: 113%;
  }

  .save-button {
    flex-direction: column;
    padding: 15px 20.5px 15px 19.5px;
  }

  dialog[open] {
    padding: 31px 33px;
  }

  .button .save-svg {
    block-size: 1.75rem;
  }
}
