/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* FONT */
  --font-family: 'Inter-Variable';
  --font-size: 18px;
  --font-weight: 400;
  /* MAIN */
  --main-color: #000;
  --main-bg: #fff;
  --button-color: #fff;
  --border-color: #000;
  --border-size: 2px;
  --background-img: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  /* MARGIN GAP PADDING */
  --margin-save-button: 100px;
  /* ANIMATION */
  --animation-fill-color:red;
  --countor-color: #000;
  --text-stroke-color: #fff;
}